#contact-info{
  font-size:.8em;
}

.job{
  background:#e9e5dc;
  border-radius: 25px;
  margin-top:20px;
  margin-bottom:20px;
  padding:15px;
}
.unordered-list{
  font-size:.8em;
}
a:visited {
  color: green;

}
li#dance{

  color:red;
}
